.idea/
.vagrant/
.vscode/
node_modules/
public/
globals/
tmp/
*.iml
*.orig
config.ini
.DS_Store
webpack-assets.json
webpack-stats.json
npm-debug.log
docs/datasource.csv
docs/r_css_loader.r
docs/r_css_loader.sh
som_app.tar.gz
som_app/mapsets/census/models
som_web_app/
som_app/
logs/
